p{
    text-align: center;
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 70px;
    font-family: 'kaushan Script', cursive;
}

#banner{
    background:linear-gradient(rgba(0,0,0,0.4),#000000), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNfmbP_vqxOvfPne6TeqKD1XwE27KT3N_HAw&usqp=CAU');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#superior{
    height: 30%;
    border-style: double;
    border-width: 20px 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    width: 23em;
    background-color: rgba(42, 46, 48, 0.9);
    align-items: center;
    justify-content: center;
}
#inferior{
    border-style: double;
    border-width: 20px 10px;;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    width: 23em;
    background-color: rgba(42, 46, 48, 0.9);
    align-items: center;
    justify-content: center;
}

#sistema{
    background-color: rgba(0, 0, 0, 0.9);
    order: 1;
    width: 9em;
    height: 100%;
    width: 60%;
    height:100%;
}
.m1r1{
    order: 2;
    width: 3.3em;
    height: 10%;
    text-align: center;
}
.m1r2{
    order: 3;
    width: 3.3em;
    height: 10%;
    text-align: center;
}
.m1r3{
    order: 3;
    width: 3.3em;
    height: 10%;
    text-align: center;
}
.m1r4{
    order: 3;
    width: 3.3em;
    height: 10%;
    text-align: center;
}

.função{
    width: 220px;
    height: 40%;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-color: white;
    font-size: 15px;
}
.função:hover{
    background-color: rgb(37, 56, 56);
    cursor: pointer;
}

.titulo{
    order: 1;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;    
    color: white;
}
#console{
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 30%;
}
